body {
  margin: 0px;
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

#topnav {
    background: #fd7622; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fd7622, #fc371d); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fd7622, #fc371d); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fd7622, #fc371d); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fd7622, #fc371d); /* Standard syntax */
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0px 1px 8px 0px #a3a3a3;
  z-index: 999;
}

#topnav > #icon {
  background-size: 50px;
  float: left;
  height: 50px;
  width: 50px;
  background-image: url("icons/logo.png");
  margin-top: 12.5px;
  margin-left: 4vw;
  background-repeat: no-repeat;
}

#topnav > #input {
  height: 50px;
  width: 40vw;
  padding-left: 75px;
  padding-right: 2vw;
  margin-top: 10px;
  margin-left: 15vw;
  background-color: rgba(255,255,255,.15);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: large;
  background-image: url("icons/link.png");
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 3%;
  border-style: hidden;
  border-radius: 5px;
}

#topnav > #add {
  background-size: 40px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-image: url("icons/add.png");
  margin-top: 15px;
  margin-left: 1vw;
  background-repeat: no-repeat;
  vertical-align: top;
  cursor: pointer;
}

#topnav > #powered {
  background-size: 50px;
  float: right;
  height: 50px;
  width: 50px;
  background-image: url("icons/powered.png");
  margin-top: 9px;
  margin-right: 5vw;
  background-repeat: no-repeat;
}

::-webkit-input-placeholder {
  color: #fce4d8;
}

input[type="text"], input[type="password"], textarea, select {
    outline: none;
}

#content {
    padding-top: 85px;
    padding-left: 20vw;
    padding-right: 28vw;
    padding-bottom: 200px;
}

@media(max-width: 1475px) {
    #content {
        padding-left: 15vw;
        padding-right: 20vw;
    }
}

@media(max-width: 1148px) {
    #content {
        padding-left: 10vw;
        padding-right: 15vw;
    }
}

@media(max-width: 969px) {
    #content {
        padding-left: 5vw;
        padding-right: 10vw;
    }
}

@media(max-width: 846px) {
    #content {
        padding-left: 0vw;
        padding-right: 5vw;
    }
}

@media(max-width: 753px) {
    #content {
        padding-left: 0vw;
        padding-right: 0vw;
    }

    ul {
        -webkit-padding-start: 0px;
    }
}

#queue {
    list-style: none;
}

#placeholder {
    text-align: center;
    color: rgba(0,0,0,0.25);
    margin-top: 18vh;
    margin-left: 25%;
    width: 50%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#placeholder > img {
    opacity: 0.25;
    filter: alpha(opacity=25);
    user-drag: none;
    -webkit-user-drag: none;
    width: 200px;
    height: auto;
}

#dragtext {
    text-align: center;
    color: rgba(0,0,0,0.25);
    margin-top: 5vh;
    font-size: .85em;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.smalltext {
    margin-top: 5vh;
    font-size: .75em;
}

.smalltext > a {
    text-decoration: none;
    color: #fd7622;
}

.smalltext > a:visited {
    color: #fd7622;
}

.track {
    margin-top: 25px;
    background-color: white;
    height: 100px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px 0px #b0b0b0;
    background-repeat: no-repeat;
    background-size: 100px;
    cursor: pointer;
}

.inactive > .trackinfo {
    color: #7f7f7f;
}

.inactive > .clear {
    display: inline-block;
}

.clear {
    background-image: url("icons/clear.png");
    background-size: 20px;
    display: none;
    height: 20px;
    width: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.newtab {
    background-image: url("icons/newtab.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-top: -14px;
    opacity: .65;
}

.trackinfo {
    padding-top: 18px;
    padding-left: 150px;
    color: black;
}

.trackinfo > h1, h2, h3, .smtrackinfo > h1, h2, h3 {
    font-weight:normal;
}

.trackinfo > h1, h3, .smtrackinfo > h1, h3 {
    display: inline-block;
}

.trackinfo > h1 {
    font-size: 20px;
}

.trackinfo > h2 {
    margin-top: -15px;
    font-weight: lighter;
    font-size: 16px;
}

.trackinfo > h3 {
    float: right;
    margin-right: 3vw;
    color: #7f7f7f;
    font-size: 14px;
}

.smalltrack {
   background-color: transparent;
   height: 100px;
   background-repeat: no-repeat;
   background-size: 60px;
   margin-top: 5px;
   display: inline-block;
   width: 350px;
   background-position: 0px 12px;
 }

 .smalltrack > a {
     text-decoration: none;
 }

 .smalltrack > a:hover {
     cursor: pointer;
 }

#nowplaying {
    float: right;
    margin-left: 60px;
}

.smtrackinfo {
    margin-top: 5px;
    padding-top: 5px;
    padding-left: 95px;
    padding-right: 2vw;
}

.smtrackinfo > h1, h2 {
    margin-top: 5px;
    font-weight: lighter;
    font-size: .85em;
}

.smtrackinfo > h1{
    margin-bottom: -5px;
    color: rgba(0,0,0,.5);
}

.smtrackinfo > h2{
    color: rgba(0,0,0,.75);
}

.smtrackinfo > h2:hover {
    color: rgba(0,0,0,1);
}

#controls {
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 1px 8px 0px #a3a3a3;
}

#controls > #time {
    color: black;
    position: absolute;
    top: 40%;
    margin-left: 55vw;
}

#controls > #prev {
  background-size: 40px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-image: url("icons/prev.png");
  margin-top: 30px;
  margin-left: 5vw;
  background-repeat: no-repeat;
  vertical-align: top;
  cursor: pointer;
}

#controls > #playpause {
  background-size: 40px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-image: url("icons/play.png");
  margin-top: 30px;
  margin-left: 1vw;
  background-repeat: no-repeat;
  vertical-align: top;
  cursor: pointer;
  -webkit-filter: brightness(50);
}

#controls > #next {
  background-size: 40px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-image: url("icons/next.png");
  margin-top: 30px;
  margin-left: 1vw;
  background-repeat: no-repeat;
  vertical-align: top;
  cursor: pointer;
}


#controls > .waveOff {
  background-color: #D4D4D4 !important;
  width: 49vw;
  cursor: default !important;
}
#controls > #waveformScrub > .notPlaying {
  background-color: transparent !important;
  background: url(defaultWaveform.png) center no-repeat;
  width: 49%;
  height: 100%;
  -webkit-filter: brightness(100);
  filter: brightness(100);
  cursor: default !important;
}

#controls > #waveformScrub {
  height: 40px;
  margin-top: 30px;
  margin-left: 5vw;
  display: inline-block;
  background-color: #D4D4D4;
  cursor: pointer;
}
#controls > #waveformScrub img {
  width: 49vw;
  height: 100%;
  -webkit-filter: brightness(100);
  filter: brightness(100);
  cursor: pointer;
}
#controls > #waveformScrub > #waveformScrubElapsed {
  display: inline;
  background-color: #EF6C00;
  height: 40px;
  position: absolute;
  cursor: pointer;
}

@media(max-width: 1475px) {
    .smtrackinfo {
        padding-right: 1vw;
        padding-left: 85px;
    }
    .smalltrack {
        width: 290px;
    }
}

@media(max-width: 1365px) {
    .smtrackinfo {
        padding-right: 1vw;
        padding-left: 70px;
    }
    .smalltrack {
        width: 290px;
        background-size: 0px;
    }
}

@media(max-width: 1216px) {
    .smalltrack {
        visibility: hidden;
    }
}

.hidden {
    visibility: hidden;
}
